doctype html

html

    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet' href='css/style.css')

    body
        .top-bar
            h1.title= title
        ul.card-list
            each node in data
                li.card
                    .header
                        .name
                            span= node.name
                            if node.method === 'post'
                                .method P
                            else
                                .method G
                        .url
                            span= node.url
                            if node.params
                                .test-btn
                                    .icon-bar
                                    .icon-bar
                                    .icon-bar
                    .content
                        if node.desc
                            .desc.marked !{node.desc}
                        if node.params
                            h2.params PARAMS
                            table.table
                                thead
                                    tr
                                        th Name
                                        th Type
                                        th Description
                                tbody
                                    each param, key in node.params
                                        tr
                                            td= key
                                            td= param.type
                                            td= param.value
                        if node.ret
                            h2.return RETURN
                            table.table
                                thead
                                    tr
                                        th Name
                                        th Type
                                        th Description
                                tbody
                                    each param, key in node.ret
                                        tr
                                            td= key
                                            td= param.type
                                            td= param.value
                    if node.params
                        form.footer.hidden(method='#{node.method}' action='#{node.url}')
                            each param, key in node.params
                                .input-group
                                    label= key
                                    input(type='text' name='#{key}')
                            p.hint.
                                Open developer tool to check details
                            button.send-btn(type='submit') Send
        .top-btn Top

        script(src='js/jquery.min.js')
        script(src='js/protodoc.js')
